.idea/
venv
.pytest_cache
app/.pytest_cache
tests/.pytest_cache
app/app.db
.env
app/temp.txt
app/__pycache__
app/tests/__pycache__

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
