.idea/
venv
.pytest_cache
service/.pytest_cache
tests/.pytest_cache
service/service.db
.env
service/temp.txt
service/__pycache__
service/tests/__pycache__

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
